<footer class="main-footer footer-type-1 text-xs">
    <div id="footer-tools" class="d-flex flex-column">
        <a href="javascript:" id="go-to-up" class="btn rounded-circle go-up m-1" rel="go-top">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 48 48"><path fill="currentColor" stroke="currentColor" stroke-linejoin="round" stroke-width="4" d="M24.5 4L9 44l15.5-9.09L40 44z"/></svg>
        </a>
        <!-- 右下角搜索  -->
        <a href="javascript:" data-toggle="modal" data-target="" class="btn rounded-circle m-1"
            rel="search" one-link-mark="yes">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34M208 336c-70.7 0-128-57.2-128-128c0-70.7 57.2-128 128-128c70.7 0 128 57.2 128 128c0 70.7-57.2 128-128 128"/></svg>
        </a>
        <!-- 联系我们链接 -->
        <a href="openpgp4fpr:eallion@e5n.cc" class="btn rounded-circle kefu m-1" target="_blank" data-toggle="tooltip" data-placement="left" rel="contact"
            title="联系方式">
            <!-- 这里做一个在线聊天项目来当联系我们 -->
            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 48 48"><path fill="currentColor" d="M2.5 22.6C2.5 10.873 12.2 1.5 24 1.5s21.5 9.373 21.5 21.1v8.488q0 .275-.027.543q.027.18.027.369c0 1.97-.243 4.117-.48 5.757c-.372 2.567-1.891 5.113-4.672 6.214C37.355 45.157 32.158 46.5 24 46.5a2.5 2.5 0 0 1 0-5c7.603 0 12.165-1.25 14.507-2.177c.762-.302 1.39-1.077 1.564-2.282q.033-.229.065-.466c-1.406.313-3.03.615-4.645.784c-2.122.223-4.191-1.056-4.578-3.36c-.226-1.34-.413-3.273-.413-6c0-2.725.187-4.657.413-5.998c.387-2.304 2.456-3.583 4.578-3.36c.852.089 1.707.215 2.53.36C36.393 12.997 30.783 8.5 24 8.5S11.608 12.997 9.979 19.001a37 37 0 0 1 2.53-.36c2.122-.223 4.191 1.056 4.579 3.36c.225 1.34.412 3.273.412 5.999s-.187 4.658-.412 5.999c-.388 2.304-2.457 3.583-4.579 3.36c-2.198-.23-4.41-.705-6.07-1.12c-2.4-.601-3.939-2.777-3.939-5.15z"/></svg>
        </a>
        <!-- 右下角搜索 end -->
        {{ if $.Site.Params.nightMode }}
        <a href="javascript:" onclick="window.location.href='javascript:switchNightMode()'"
            class="btn rounded-circle switch-dark-mode m-1" id="yejian" data-toggle="tooltip" data-placement="left" rel="night-mode"
            title="夜间模式">
            <span class="mode-ico icon-light"></span>
        </a>
        {{ else }}
        <a href="javascript:" onclick="window.location.href='javascript:switchNightMode()'"
            class="btn rounded-circle switch-dark-mode m-1" id="yejian" data-toggle="tooltip" data-placement="left" rel="night-mode"
            title="日间模式">
            <span class="mode-ico icon-night"></span>
        </a>
        {{ end }}
    </div>
    <div class="footer-inner">
        <div class="footer-text">{{ replace $.Site.Params.footer.copyright "{year}" now.Year | markdownify }}</div>
    </div>
</footer>
</div><!-- main-content end -->
</div><!-- page-container end -->