<div class="main-content flex-fill grid-bg">
    <div class="big-header-banner">
        <div id="header" class="page-header sticky">
            <div class="navbar navbar-expand-md">
                <div class="container-fluid p-0">

                    <a href="" class="navbar-brand d-md-none" title="{{ .Site.Title }}">
                        <img src="{{ relURL $.Site.Params.images.logoCollapseLight }}" class="logo-light"
                            alt="{{ .Site.Title }}">
                        <img src="{{ relURL $.Site.Params.images.logoCollapseDark }}" class="logo-dark d-none"
                            alt="{{ .Site.Title }}">
                    </a>

                    <div class="collapse navbar-collapse order-2 order-md-1">
                        <div class="header-mini-btn">
                            <label>
                                <input id="mini-button" type="checkbox">
                                <svg viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <path class="line--1" d="M0 40h62c18 0 18-20-17 5L31 55"></path>
                                    <path class="line--2" d="M0 50h80"></path>
                                    <path class="line--3" d="M0 60h62c18 0 18 20-17-5L31 45"></path>
                                </svg>
                            </label>

                        </div>

                        <ul class="navbar-nav site-menu" style="margin-right: 16px;">
                            {{ range .Site.Data.headers }}
                            <li {{ if .list }}class="menu-item-has-children" {{ end }}>
                                <a href="{{ .link }}" {{ if .target }}target="{{ .target }}"{{ end }}>
                                    {{ .icon | safeHTML }}
                                    <span class="{{ if .target }}menu-item-link-external{{ else }}menu-item-link-internal{{ end }}">{{ .item | safeHTML }}</span>
                                </a>
                                <!-- 导航栏下拉菜单实现添加图标 -->
                                <ul class="sub-menu">
                                    {{ range .list }}
                                    <li {{ if .list }}class="menu-item-has-children" {{ end }}>
                                        <a href="{{ .link }}" {{ if .target }}target="{{ .target }}"{{ end }}>
                                            {{ .icon | safeHTML }}
                                            <span>{{ .name | safeHTML }}</span>
                                        </a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </li>
                            {{ end }}
                        </ul>

                    </div>

                    <ul class="nav navbar-menu text-xs order-1 order-md-2">

                        <!-- 一言 -->
                        {{ with .Site.Params.yiyan }}
                        <li class="nav-item mr-3 mr-lg-0 d-none d-lg-block">
                            <script>
                                fetch('https://v1.hitokoto.cn/?c=b')
                                    .then(response => response.json())
                                    .then(data => {
                                        const hitokoto = document.getElementById('hitokoto_text')
                                        hitokoto.href = 'https://hitokoto.cn/?c=b uuid=' + data.uuid
                                        hitokoto.innerText = data.hitokoto
                                    })
                                    .catch(console.error)
                            </script>
                            <div id="hitokoto"><a href="#" target="_blank" id="hitokoto_text">你似乎一直在寻找我。</a></div>
                        </li>
                        {{ end }}
                        <!-- 一言 end -->
                        <!-- 今日诗词 -->
                        {{ with .Site.Params.jinrishici }}
                        <li class="nav-item mr-3 mr-lg-0 d-none d-lg-block">
                            <div id="jinrishici"><a href="https://www.jinrishici.com/" target="_blank" id="jinrishici_text">明月松间照，清泉石上流。</a></div>
                            <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
                            <script type="text/javascript">
                                jinrishici.load(function(result) {
                                    var sentence = document.querySelector("#jinrishici_text")
                                    // var info = document.querySelector("#poem_info")
                                    sentence.innerHTML = result.data.content
                                    // info.innerHTML = '【' + result.data.origin.dynasty + '】' + result.data.origin.author + '《' + result.data.origin.title + '》'
                                });
                            </script>
                        </li>
                        {{ end }}
                        <!-- 今日诗词 end -->

                        <li class="nav-search ml-3 ml-md-4">
                            <a href="javascript:" data-toggle="modal" data-target="#search-modal"><svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34M208 336c-70.7 0-128-57.2-128-128c0-70.7 57.2-128 128-128c70.7 0 128 57.2 128 128c0 70.7-57.2 128-128 128"/></svg></a>
                        </li>

                        <li class="nav-item d-md-none mobile-menu ml-3 ml-md-4">
                            <a href="javascript:" id="sidebar-switch" data-toggle="modal" data-target="#sidebar"><svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-dasharray="16" stroke-dashoffset="16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M5 5h14"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.2s" values="16;0"/></path><path d="M5 12h14"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.2s" dur="0.2s" values="16;0"/></path><path d="M5 19h14"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.4s" dur="0.2s" values="16;0"/></path></g></svg></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="placeholder" style="height:74px"></div>
    </div>